# Load the data from “college.csv” that has attributes collected about private and public colleges for a particular year. We will try to predict the private/public status of the college from other attributes.

In [20]:
import pandas as pd
from sklearn import preprocessing

In [21]:
df= pd.read_csv('College.csv')

In [22]:
df

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772,Worcester State College,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Xavier University,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Xavier University of Louisiana,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yale University,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,York College of Pennsylvania,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

# Use LabelEncoder to encode the target variable in to numerical form and split the data such that 20% of the data is set aside fortesting

In [23]:
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
df.iloc[:,1]= label_encoder.fit_transform(df.iloc[:,1])
df.iloc[:,0]=label_encoder.fit_transform(df.iloc[:,1])
y=df['Private']

In [24]:
X=df.drop(['Private'],axis=1)

In [25]:
y

0      1
1      1
2      1
3      1
4      1
      ..
772    0
773    1
774    1
775    1
776    1
Name: Private, Length: 777, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.2)
X_train.head()

,Unnamed: 0,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
715,1,1470,900,287,20,49,1130,417,10900,5100,500,550,70,81,15.7,14,7804,68
722,1,440,311,112,25,49,466,7,10000,3052,400,1100,65,75,11.4,20,9430,63
440,1,8256,3750,1522,37,70,5809,4379,11000,5160,660,1115,90,95,13.8,10,10059,62
147,1,688,497,144,30,75,641,101,10800,4440,570,1515,55,60,13.1,13,8415,55
280,1,472,410,262,14,41,9950,71,7620,3050,400,400,51,53,17.0,21,3186,54

# Fit a linear svm from scikit learn and observe the accuracy.

In [27]:
from sklearn.svm import SVC
clf = SVC(gamma='auto')
clf.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [28]:
pred=clf.predict(X_test)

In [29]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,pred)

0.6858974358974359

# Preprocess the data using StandardScalar and fit the same model again and observe the change in accuracy

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
scaler = StandardScaler()

In [32]:
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [34]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.2)

In [35]:
from sklearn.svm import SVC
clf = SVC(gamma='auto')
clf.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [36]:
pred=clf.predict(X_test)

In [37]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,pred)

0.7371794871794872

# Use scikit learn’s gridsearch to select the best hyperparameter for a non-linear SVM,identify the model with best score and its parameters.

In [41]:
from sklearn import svm
from sklearn.model_selection import GridSearchCV

In [42]:
parameters = {'kernel':('linear', 'rbf'), 'C':[1, 10]}

In [43]:
svc = svm.SVC()

In [48]:
lf = GridSearchCV(svc, parameters)
clf.fit(X, y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)