# Load the kinematics dataset as measured on mobile sensors from the file “run_or_walk.csv”. List out the columns in the dataset.

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('dataset.csv')

In [4]:
df

,date,time,username,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,viktor,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,viktor,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,viktor,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,viktor,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,viktor,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922
...,...,...,...,...,...,...,...,...,...,...,...
88583,2017-7-9,20:9:15:317911028,viktor,0,0,0.3084,-0.8376,-0.1327,0.4823,2.0124,0.6048
88584,2017-7-9,20:9:15:517889022,viktor,0,0,0.4977,-1.0027,-0.4397,0.1022,-1.2565,-0.0761
88585,2017-7-9,20:9:15:717828989,viktor,0,0,0.4587,-1.1780,-0.2827,-1.4500,-0.2792,-1.2616
88586,2017-7-9,20:9:15:917932987,viktor,0,0,0.2590,-0.8582,-0.0759,-1.5165,0.4560,-1.7755
88587,2017-7-9,20:9:16:117410004,viktor,0,0,0.3140,-0.8008,-0.0911,0.1183,1.0850,1.2814

# Let the target variable ‘y’ be the activity and assign all the columns after it to ‘x’.

In [5]:
y=df['activity']

In [14]:
from sklearn import preprocessing
df.drop(['activity'],axis=1)
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
df.iloc[:,2]= label_encoder.fit_transform(df.iloc[:,2])

In [16]:
X=df.iloc[:,2:]

# Using Scikit-learn fit a Gaussian Naive Bayes model and observe the accuracy.Generate a classification report using scikitlearn.

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y , test_size = 0.2)

In [22]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [24]:
pred=clf.predict(X_test)

In [25]:
#Accuracy Score
from sklearn.metrics import accuracy_score

accuracy_score(y_test,pred)

1.0

In [26]:
from sklearn.metrics import classification_report

In [28]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      8968
           1       1.00      1.00      1.00      8750

    accuracy                           1.00     17718
   macro avg       1.00      1.00      1.00     17718
weighted avg       1.00      1.00      1.00     17718

# Repeat the model once using only the acceleration values as predictors and then using only the gyro values as predictors. Comment on the difference in accuracy between both the models.

In [29]:
X=df.iloc[:,5:8]

In [30]:
X

       acceleration_x  acceleration_y  acceleration_z
0              0.2650         -0.7814         -0.0076
1              0.6722         -1.1233         -0.2344
2              0.4399         -1.4817          0.0722
3              0.3031         -0.8125          0.0888
4              0.4814         -0.9312          0.0359
...               ...             ...             ...
88583          0.3084         -0.8376         -0.1327
88584          0.4977         -1.0027         -0.4397
88585          0.4587         -1.1780         -0.2827
88586          0.2590         -0.8582         -0.0759
88587          0.3140         -0.8008         -0.0911

[88588 rows x 3 columns]

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y , test_size = 0.2)

In [32]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [33]:
pred=clf.predict(X_test)

In [34]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,pred)

0.9577830454904617

In [35]:
X=df.iloc[:,8:]

In [36]:
X

       gyro_x  gyro_y  gyro_z
0     -0.0590  0.0325 -2.9296
1     -0.1757  0.0208  0.1269
2     -0.9105  0.1063 -2.4367
3      0.1199 -0.4099 -2.9336
4      0.0527  0.4379  2.4922
...       ...     ...     ...
88583  0.4823  2.0124  0.6048
88584  0.1022 -1.2565 -0.0761
88585 -1.4500 -0.2792 -1.2616
88586 -1.5165  0.4560 -1.7755
88587  0.1183  1.0850  1.2814

[88588 rows x 3 columns]

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y , test_size = 0.2)

In [38]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [39]:
pred=clf.predict(X_test)

In [40]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,pred)

0.6390111750761936